[package]
name = "Midas"
version = "0.1.0"
edition = "2024"

[dependencies]
clap = { version = "4.4", features = ["derive"] }
polars = { version = "0.51.0", features = ["parquet", "timezones"] }
anyhow = "1.0"
